.card-play{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius:5px;
    border:solid;
    border-width: 1px;
    margin: 1vh;
}

.game-component{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.next-game{
    position: absolute;
    top:3vh;
    right:3vh
}