
<div id="player">
    <p class="info">{{tournamentInfo.name}} - {{tournamentInfo.type}} - {{tournamentInfo.date}}</p>
   
    <div id="grid">
        <ag-grid-angular
        #agGrid
        id="playerGrid"
        style="height: 70vh; margin: 2vw;" 
        class="ag-theme-alpine"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        [rowSelection]="rowSelection"
        (cellValueChanged)= "onCellValueChanged($event)"
        (cellEditingStopped)="onCellEditingStopped($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (firstDataRendered)="onFirstDataRendered($event)">
        </ag-grid-angular>
    </div>
    <div id="gridController" class="grid-controller">
        <button matTooltip="Ajouter une équipe" mat-icon-button (click)="onAddPlayer()"[disabled]="!enableAddPlayer">
            <mat-icon>person_add</mat-icon>
        </button> 
        <button mat-icon-button matTooltip="Supprimer une équipe" (click)="onRemovePlayer()" [disabled]="disableDeletePlayer">
            <mat-icon>person_remove</mat-icon>
        </button> 
        <button mat-icon-button matTooltip="Supprimer toutes les équipes" (click)="onRemoveAll()" [disabled]="this.rowData.length==0">
            <mat-icon>delete_sweep</mat-icon>
        </button> 
        <button matTooltip="Générer les parties" (click) = "onGenerateGames()" mat-icon-button [disabled]="!enableGametab || !enableGenerateGame">
            <mat-icon>play_circle_filled</mat-icon>
        </button> 
    </div>
    
    
</div>

