
.ag-header-group-cell-label {
    justify-content: center !important;
  }
  
.ag-header-cell-label {
    justify-content: center !important;
  }
.grid-controller {
    display: flex;
    justify-content: center;
}