
<div id="player">
   
    <div id="grid">
        <ag-grid-angular
        #agGrid
        id="playerGrid"
        style="height: 70vh; margin: 2vw;" 
        class="ag-theme-alpine"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        [rowSelection]="rowSelection"
        (cellValueChanged)= "onCellValueChanged($event)"
        (firstDataRendered)="onFirstDataRendered($event)">
        </ag-grid-angular>
    </div>
    <div id="gridController" class="grid-controller">
        <button mat-icon-button (click)="onAddPlayer()">
            <mat-icon>person_add</mat-icon>
        </button> 
        <button mat-icon-button (click)="onRemovePlayer()">
            <mat-icon>person_remove</mat-icon>
        </button> 
        <button mat-icon-button (click)="onRemoveAll()">
            <mat-icon>delete_sweep</mat-icon>
        </button> 
    </div>
    
    
</div>

