@import './lib/colors.scss';

.petanque-content {
    //margin: 5vw;
    //border: solid;
    //border-width: 1px;
    //border-color: $ds-yellow-90;
    height: auto;
    width: auto;
    //box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    //border-radius:5px
}


.petanque-content-home{
    margin: 15vh;
    //border: solid;
    //border-width: 1px;
    border-color: $ds-yellow-90;
    height: auto;
    width: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.mat-tab-list .mat-tab-labels .mat-tab-label-active {
    background-color: $ds-orange-60;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1 !important;
}

.mat-tab-list {
    .mat-ink-bar {
        display: none;
    }
}

.mat-tab-body-wrapper{
    height: 85vh;
}
.plays-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}