<mat-card [ngClass]="game.gameOver?'card-play-over':'card-play'">
    <mat-form-field appearance="outline">
        <mat-label>Equipe {{game.team1!.teamId!}}</mat-label>
        <input matInput placeholder="Score" [value]="game.team1!.score!" [disabled]="game.gameOver">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Equipe {{game.team2!.teamId!}}</mat-label>
        <input matInput placeholder="Score" [value]="game.team2!.score!" [disabled]="game.gameOver">
    </mat-form-field>
    <mat-card-actions align="end">
        <button  mat-raised-button color="accent" [disabled]="game.gameOver"> VALIDER </button>
    </mat-card-actions>
</mat-card>