.form-home{
    margin: 5vw;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.form-element{
    margin: 0.5vw;
}
.mat-button-toggle-checked {
    background-color: #fccfa8;
    font-weight: bold;
}